*{
    padding: 0;
    margin: 0;
} 
.navbar{
    background-color: #000000;
    color: #ffffff;
    /* makes sure children contained within parent if set to auto changes with other settings */
    overflow: auto;
}
.container{
    float: right;
    
}
.title{
    /* aligns title with ul elements */
    float: left;
    margin: 10px;
}
.item{
    display: inline-block;
    margin: 15px 10px 10px; 
}
.item > a{
    text-decoration: none;
    color:#ffffff;
}
.item > a:hover{
    color: green;
    /* background-color: blue; */
}
